<div id="new-post-comment-container">
  <form class="form-inline">
      <div class="new-comment-form media">
          <div class="img">
              {{#linkToPerson current_user}}
                {{{personImage this "small" "small"}}}
              {{/linkToPerson}}
          </div>
          <div class="bd">
            <textarea class="new-comment-text" id="new-comment-text" placeholder="{{t "stream.comment"}}"></textarea>
          </div>
      </div>
  </form>
</div>
