<div id='post-remix-container'>
  <h6>
    Related Remixes
  </h6>

  <div id='remixes'>
    <div class="remix-wrapper action">
        <a href='/posts/{{post_id}}/remix'></a>
    </div>

    {{#each remixes}}
      {{#if screenshot_url}}
          <div class="remix-wrapper">
            <a href='/p/{{id}}'><img src='{{screenshot_url}}' class="remix-screenshot" /></a>
          </div>
      {{/if}}
    {{/each}}
  </div>
</div>

{{# if likes}}
    <div id="post-likes">
        <h6>
            Likes
        </h6>

        <div class="well">
            {{#each likes}}
                {{#linkToPerson author}}
                {{{personImage this "small"}}}
                {{/linkToPerson}}
            {{/each}}
        </div>
    </div>
{{/if}}

<div id='post-comments-container'>
    <h6>
        Comments
    </h6>
    <div id="post-comments"> </div>
</div>