{{#if remixes}}
    <div id='post-remix-container'>
      <h6>
        Related Remixes
      </h6>

      <div id='remixes'>
        {{#each remixes}}
          <div class="remix-wrapper">
            <a href='/p/{{id}}'><img src='https://makerio.s3.amazonaws.com{{screenshot_url}}' /></a>
          </div>
        {{/each}}
      </div>
    </div>
{{/if}}

{{# if likes}}
    <div id="post-likes">
        <h6>
            Likes
        </h6>

        <div class="well">
            {{#each likes}}
                {{#linkToPerson author}}
                {{{personImage this "small"}}}
                {{/linkToPerson}}
            {{/each}}
        </div>
    </div>
{{/if}}

<div id='post-comments-container'>
    <h6>
        Comments
    </h6>
    <div id="post-comments"> </div>
</div>