{{# if likes}}
    <div id="post-likes">
        <h6>
            Likes
        </h6>

        <div class="well">
            {{#each likes}}
                {{#linkToPerson author}}
                {{{personImage this "small"}}}
                {{/linkToPerson}}
            {{/each}}
        </div>
    </div>
{{/if}}

<div class='posts-comments-container'/>
