{{#if remixes}}
    <div id='post-remix-container'>
      <h6>
        Related Remixes
      </h6>

      <div id='remixes'>
        {{#each remixes}}
          {{#if screenshot_url}}
              <div class="remix-wrapper">
                <a href='/p/{{id}}' title="Remix this"><img src='{{screenshot_url}}' class="remix-screenshot" /></a>
              </div>
          {{/if}}
        {{/each}}
      </div>
    </div>
{{/if}}

{{# if likes}}
    <div id="post-likes">
        <h6>
            Likes
        </h6>

        <div class="well">
            {{#each likes}}
                {{#linkToPerson author}}
                {{{personImage this "small"}}}
                {{/linkToPerson}}
            {{/each}}
        </div>
    </div>
{{/if}}

<div class='posts-comments-container'/>
