<div class="stream-element">
  <div class="content-container">
      <div class="content">
        <%= render 'shared/post_info', :post => post %>
      </div>
  </div>
  <%= image_tag post.screenshot_url, :class => "post-screenshot" %>
</div>
