html,
body {
  /* hack to ensure fixed elements at height: 100%; are in relation to the window */
  max-height : 100%;
  height:100%;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: rgb(237,237,237);
  background-image : image_url("texture/light-bg.png");
  padding : none;
  padding-top: 30px;

  height:100%;
  &.lock {
    overflow: hidden;
  }
}

#container {
  height: 100%;
}

#page_title {
  font-family:Roboto-Light;
  font-size:4em;
  line-height:1em;
  margin-bottom:30px;
}

/* new link color */
$link-blue : rgb(42,156,235);
a { color : $link-blue  }

.unread{ background-color:red;}
/* bootstrap extentions */
.icon-red   { background-image: image_url("img/glyphicons-halflings-red.png");   }
.icon-blue  { background-image: image_url("img/glyphicons-halflings-blue.png");  }
.icon-grey  { background-image: image_url("img/glyphicons-halflings-grey.png");  }

.first.container {
  /*padding-top: 20px;*/
}
.avatar {
  &.micro {
    height: 20px;
    width: 20px;
  }

  &.small {
    height: 35px;
    width: 35px;
  }
}

.author-name {
  font-family : Roboto, Helvetica, Arial, sans-serif;
  color: inherit;
}

.canvas-frame {
  @include box-shadow(0,1px,1px,rgba(0, 0, 0, 0.1));
  display : inline-block;
}

.mason {
  float : left;
}

.post-view {
  display: table;
  height: 100%;
  width: 100%;
}

.canvas-frame.frame-screenshot {
  .content {
    min-height : 0;
    background : none;
  }

  img {
    border : none !important;
  }
}

.darken {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.3);

  display: table;

  .darken-content {
    @include centered-frame();
    height: 100%;
    width: 100%;
  }
}

.photo-fill {
  @include background-cover();
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.photo-backdrop {
  p {
    color: #fff;
    z-index: 2;
  }

  img {
    position: relative;
  }

  .photo-fill {
    @include opacity(0.2)
  }
}

$bring-dark-accent-forward-color: #DDD;

.navbar {
  .logo {
    float : left;
    margin : 0 .6em;
  }
}

#sign_up_prompt {
  @include box-shadow(0, -1px, 10px, rgba(0,0,0,0.3));
  z-index : 999;
  position : fixed;
  bottom : 0;
  left : 0;
  width : 100%;
  height : 26px;

  background-color : rgb(246, 50, 53);

  text-align : center;

  padding : 15px 10px 0;

  * {
    display : inline;
  }

  h1 {
    font : {
      family : Roboto-Light, Helvetica, Arial, sans-serif;
      size : 30px;
    }
    color : #fff;
  }

  .new-btn {
    padding : 8px 20px;
    position : relative;
    top : -5px;
    border : 1px solid rgba(0,0,0,0.6);
    color : #444;
    font-family : Roboto-Bold;

    &:hover {
      text-decoration : none;
    }
  }

  .tagline {
    position : relative;
    top : -3px;
    padding : 0 10px;
    padding-right : 17px;
    font-family : Roboto;
    color : #fff;
    font-size : 20px;
  }
}

.bookmarklet-button {
  cursor : move;
}

#composer-button.label.label-inverse {
  background-color : #ff0000;
}

#getting_started {
  position : fixed;
  display : table;

  z-index : 999;

  height : 100%;
  width : 100%;

  top : 0;
  left : 0;

  background-color : rgba(0,0,0,0.8);


  .gs-container {
    display : table-cell;
    position : relative;

    height : 100%;
    width : 100%;

    text-align : center;

    vertical-align: middle;
    vertical-position: middle;

    .img-wrapper {
      display : inline-block;
      position : relative;
    }

    .gs-done {
      position : absolute;
      bottom : 100px;
      left : 398px;
      padding : 5px 15px;
      color : #222;

      &:hover {
        text-decoration : none;
      }
    }
  }
}

.link-existing-account {
  font-size : 18px;
  margin-top : 15px;
  text-align : right;
  padding-right : 8px;
  color : #888;

  a {
    margin-left: 5px;
    color : #FFF;
  }
}

/* bootstrap label fixes for Roboto */
.label {
  padding : 2px 5px;
  padding-bottom : 3px;

  span {
    display : inline-block;
    position : relative;
    top : 1px;
    font-family : Roboto-Bold;
  }
}

#make-button {
  float: left;
  padding: 0 !important;
}

.share-button-container {
  margin: auto;

  .tweet-button {
    margin-left: 14px;
  }


}

#share-actions {
    span {
    position: relative;
    input {
      position: absolute;
      top: -6px;
      cursor: text;
      font-size:smaller;
      width:12em;

    }
  }
}

#framer-complete {
  text-align: center;
  margin-top:20%;
}

#share-actions {
  text-align : left;
  margin-top : 10px;

  .fb-like {
    position : relative;
    top : -3px;
    margin-left : 5px;
  }

  a {
    margin-right: 5px
  }
}

#welcome {
  @include border-radius(0);
  position : relative;

  background : none;
  padding : {
    left : 5px;
    right : 5px;
  }

  margin-top : -30px;
  margin-bottom : 0;
  padding-bottom : 30px;

  .sign-up-btns {
    position:relative;
    float: left;
    line-height: 60px;
    margin-left: 40px;
  }
}

#peekaboo {
  @include transition(bottom);
  position : fixed;
  bottom : -250px;
  right : 50px;

  &.peek {
    @include animation(peekaboo, 3s)
  }
}
