html,
body {
  /* hack to ensure fixed elements at height: 100%; are in relation to the window */
  max-height : 100%;
  height:100%;
}


body {
  background-color: rgb(237,237,237);
  background-image : image_url("texture/light-bg.png");
  padding : none;
  padding-top: 100px;

  height:100%;
  &.lock {
    overflow: hidden;
  }
}

#container {
  height: 100%;
}

.container {
  &.unshifted {
    margin: 0;
  }
}

#page_title {
  font-family:RobotoLight;
  font-size:2.5em;
  line-height:1em;
  margin-bottom:50px;

  small {
    font-family:inherit;
    display:block;
  }
}

#tag-info-share {
  float: right;
  text-align: right;
  margin-right: 42px;
}

/* new link color */
$link-blue : rgb(42,156,235);
a { color : $link-blue  }

.unread{ background-color:red;}
/* bootstrap extentions */
.icon-blue   { background-image: image_url("img/glyphicons-halflings_3399ff.png");   }
.icon-red  { background-image: image_url("img/glyphicons-halflings_ff3333.png");  }
.icon-grey  { background-image: image_url("img/glyphicons-halflings_999.png");  }

.first.container {
  /*padding-top: 20px;*/
}
.avatar {
  &.micro {
    height: 20px;
    width: 20px;
  }

  &.small {
    height: 35px;
    width: 35px;
  }
}

.author-name {
  font-family : Roboto, Helvetica, Arial, sans-serif;
  color: inherit;
}

.canvas-frame {
  @include box-shadow(0,1px,1px,rgba(0, 0, 0, 0.1));
  display : inline-block;
}

.mason {
  float : left;
}

.post-view {
  display: table;
  height: 100%;
  width: 100%;
}

.canvas-frame.frame-screenshot {
  .content {
    min-height : 0;
    background : none;
  }

  img {
    border : none !important;
  }
}

.darken {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.3);

  display: table;

  .darken-content {
    @include centered-frame();
    height: 100%;
    width: 100%;
  }
}

.photo-fill {
  @include background-cover();
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.photo-backdrop {
  p {
    color: #fff;
    z-index: 2;
  }

  img {
    position: relative;
  }

  .photo-fill {
    @include opacity(0.2)
  }
}

$bring-dark-accent-forward-color: #DDD;

.navbar {
  .logo {
    float : left;
    margin : 0 .6em;
  }
}

.with-banner {
  padding-top:130px;
}

#login_banner {
  z-index : 998;
  position : fixed;
  top : 0;
  left : 0;
  width : 100%;

  .red-stripe {
    @include box-shadow(0, -1px, 10px, rgba(0,0,0,0.3));
    height : 35px;
    background-color : rgb(246, 50, 53);
    z-index:5;

    .banner-logo{
      left: 10px;
      margin-top:-18px;
      margin-left: -2px;
      width:220px;
    }

    padding : 15px 10px 0;

    .tagline {
      position : absolute;
      left: 235px;
      bottom:7px;
      color : #F69E9F;
      font-size : 20px;
    }

    .prompt-left {
      float: right;
      margin-right: 20px;
      z-index:100;
      font-size: larger;
      position: relative;
      top:-1px;

      a {
        color: white; 
      }

      .follow-buttons {
        top: -3px;
        right:5px;
        position: relative;

        img {
          height:25px;
          width:25px;
        }
      }
    }
  }
}

.signup-wrapper {
  position:fixed;
  z-index:99;

  top:50px;
  left:0;
  width:100%;
}

#signup_banner {
  @include box-shadow(0,1px,1px,rgba(0, 0, 0, 0.1));

  background-color:#fff;
  text-align:left;
  box-sizing:border-box;
  padding:20px;

  .lighter {
    display:inline-block;
    color:#888;
  }
}

.bookmarklet-button {
  cursor : move;

}

#composer-button.label.label-inverse {
  background-color : #ff0000;
}

.link-existing-account {
  font-size : 18px;
  margin-top : 15px;
  text-align : right;
  padding-right : 8px;
  color : #888;

  a {
    margin-left: 5px;
    color : #FFF;
  }
}

/* bootstrap label fixes for Roboto */
.label {
  padding : 2px 5px;
  padding-bottom : 3px;

  span {
    display : inline-block;
    position : relative;
    top : 1px;
    font-family : RobotoBold;
  }
}

#make-button {
  float: left;
  padding: 0 !important;
}

.share-button-container {
  margin: auto;
  clear: both;

  .tweet-button {
    margin-left: 14px;
  }


}

#share-actions {
    span {
    position: relative;
    input {
      position: absolute;
      top: -6px;
      cursor: text;
      font-size:smaller;
      width:12em;

    }


}


#share-actions {
  text-align : left;
  margin-top : 10px;

  .fb-like {
    position : relative;
    top : -3px;
    margin-left : 5px;
  }

  a {
    margin-right: 5px
  }

  }
}


#framer-complete {
  width:600px;

}


a.imgfave-button{
  font: Verdana, sans;
  size: 12px;
  color: black;
  text-transform: none;

  &:hover{
    text-decoration: none;
  }
}

.pro-tips, .about {
  .well{
    background-color: $light-blue;
    color: white;
  }
}

/*#about_container{

}*/

#about_container{
  /*@include box-shadow(0,1px,1px,rgba(0, 0, 0, 0.1));*/
  width: 650px;
  padding: 0px 0px 50px 50px;
  margin-bottom:40px;
  font-size: 16px;
  line-height:24px;
  color:#333;

  h2{
  font-family:Roboto;
  }

  p{
  font-family:RobotoLight;
   img {
    border: 1px solid #999;
   }
  }

  span{
  font-family:Roboto;
  }

  li{
  font-family:Roboto;
  font-size: 14px;
  line-height: 18px;
  padding-top: 10px;
  color:#333;
  }

  a{
  color: #333;
  font-family: Roboto;
    &:hover{
      text-decoration: underline;
      color : $link-blue;
    }
  }

  img.floatLeft { 
    float: left; 
    margin-right: 25px;
    margin-left: -3px; 
  }

  code{
    /*background-color: #F7F7F9;*/
    background-color: #fff;
    border: 2px solid #33b5e5;
    /*color: #33b5e5;*/
    color: #0099cc;
    font-family: RobotoBold;
    font-size: 16px;
    padding: 0px 4px;
  }

  .follow-buttons {
    a {
      margin-right: 5px;
      &:hover{
          text-decoration: none;
      }
      img {
        opacity: .6;
        height: 60px;
        width: 60px;
        &:hover{
          text-decoration: none;
          opacity: 1;
          }
      }
    }
  }

}

#about_left {
  position: fixed;
  left: 45%;
  width: 200px;
  margin-left: -460px;
  overflow: hidden;

  li{
  font-family:Roboto;
  font-size: 20px;
  padding-bottom: 10px;
  color:#333;
  list-style: none;
  text-align: right;
  }

  a{
  color: #333;
  font-family: RobotoLight;
    &:hover{
      text-decoration: none;
      color : $link-blue;
    }
  }

  a:active{
  font-family: RobotoLight;
  }


}


#commandments {
  li{
  font-family:RobotoLight;
  font-size: 16px;
  line-height: 24px;
  padding-top: 10px;
  color:#333;
  }

}



#landing_banner {
  padding-bottom: 40px;
  width:100%;
  
  #landing_header {
    margin: 0 auto;
    width: 840px;
    font-family:RobotoLight;
    border-bottom: 1px solid #CCC;
    padding: 0px 40px 30px 50px;

    h1, h2 {
      font-family:inherit;
    }

    h2 {
      color:#888;
    }

    #email-link{
      padding-left: 30px;
      line-height: 35px;
    }

    #sign_up{
      float:right;
      margin-right:30px;
      margin-top:13px;
    }

    #typist-container {
      width: 105px;
      display: inline-block;
      border-bottom: 1px dotted black;
      height: 35px;
      text-align: center;
      margin:0 5px;
    }
    #typist {
      -webkit-font-smoothing:antialiased;
    }
  }

}

.btn-group {
  a {
    padding: 4px 10px;
    display:block;

    color:inherit;
    &:hover {
      text-decoration:none;
    }
  }

  button {
    padding:0;

    &.active {
      a {
        color:black;
      }
    }
  }
}

h1.branding-header {
  small {
    font-size: 64px;
    font-color: #666;
    font-family: 'RobotoLight';
    vertical-align: text-bottom;
    line-height: 34px;
  }
}

p.branding-description {
  font-size: 18px;
  margin-left: 8px;
  color: #666;
  margin-bottom: 20px;
}

#peekaboo {
  @include transition(bottom);
  position : fixed;
  bottom : -250px;
  right : 50px;
  z-index:500;

  &.peek {
    @include animation(peekaboo, 3s)
  }
}
