$frame-meta-z-index : 10;
$selected-meta-index : $frame-meta-z-index - 1;
$meta-info-holder-index : $selected-meta-index - 1;
$stream-post-index : $meta-info-holder-index - 1;
$stream-interactions-background-index : $meta-info-holder-index + 1;
$stream-interactions-content-index : $stream-interactions-background-index;

a.logo{
  text-decoration: none;

  &:hover{
    text-decoration: none;
    color: white;
    cursor: pointer;
  }

  img {
    margin-top : 3px;
  }
}

a.conversation_link{
  color: #999;
  &:hover {
    color: #999;
    text-decoration: none;
  };
}

.steps {
  background-color: #666 ;
  width: 100%;
  padding-top: 10px;
  margin-bottom: 30px;
}

.featured-title {
  padding-left: 4px;
}

.no-post-message {
  text-align: center;
  margin-top: 50px;
  font-size: 1.2em;
}

.hero-unit{
  p {
    float: left;
    clear:both;
    padding-bottom: 10px;
    line-height: 1.2em;
    color: #666;
    font : {
      size: 1.6em;
      family: RobotoLight;
      
    };
  }

  #logo-title {
    float:left;
  }
}

#canvas {
  $frame-margin:5px;
  margin-bottom:50px;

  /*compensate for margin on canvas-frame objects */
  margin-left: 10px;

  .canvas-frame {
    margin : $frame-margin;
    margin-bottom : 6px;

    max-width : 100%;

    &:not(.x2) .content{
      p {
        line-height: 1em;
        font-size: .6em;
      }
    }

    cursor : pointer;
  }
}

.canvas-frame {
  position : relative;
  background-color : #fff;

  /* larger declarations */
  &.x2 {
    .content {
      @include wide();

      p {
        font-size : 1.5em;
        line-height : 1em;
      }
    }

    &.wallpaper .content {
      p {
        font-size : 29px;
        line-height: 34.75px;
      }
    }
  }

  .vitals {
    color : #999;
    padding : 10px;
    text-align : right;

    .post-author {
      float : left;

      .author-name {
        font-family : RobotoBold;
      }
    }
  }
}

#timewarp {
  #time-controls {
    float:right;
  }
  #links {
    float: left;
    padding-right: 10px;
    a {
     font-size: 18px;
     line-height: 26px;
    }
  }

  form  {
    float: left;
    padding-right: 30px;
  }
}

.canvas-frame {
  .content.add_button{
    min-height: 0;
    a {
      font-family: RobotoLight;
      font-size: 3em;
      line-height: 1.5em;
      width: 253px;
      height: 55px;
      padding:10px;
      background:$light-blue;
      color: white;
      text-shadow: none;
      cursor: pointer;
    }
  }

  &.has-media .content {
    min-height : 0;
  }

  .content {
    &:hover {
      .info {
        top : 0;
      }
    }

    img {
      border : none;
    }

    //hax to deal with markdownify
    p {
      font-size: inherit;
      line-height: inherit;
    }

    position : relative;
    background-color : #fff;

    width : $column-width + px;
    max-width : 100%;

    overflow : hidden;

    /* used in masking photos with overflow: hidden; */
    .image-container {
      //overflow : hidden;
      width : 100%;

      img {
        width: 100%;
        max-width : 100%;
      }
    }
  }

  .embed-frame {
    .thumb {
      position : relative;
    }
    img  {
      width: 100%;
    }

    iframe {
      height : 100%;
      width : 100%;
      max-height: 222px;
    }
  }

  .text-content {
    position : relative;
    z-index : 10;
    color : #000;

    text-shadow : 0 2px 0 rgba(#fff,0.6), 0 -1px 2px rgba(#555, 0.1);
    font-size : 1.5em;
    line-height : 1.2em;

    /* I'D DO ANYTHING FOR TEXT, BUT I WON'T DO THAT (see: http://www.youtube.com/watch?v=9GNhdQRbXhc) */
    max-height : 485.5px;

    img {
      max-width: 100%;
      width: 100%;
    }

    p {
    font-family: Roboto, Helvetica, Arial, sans-serif;
      word-break : break-word;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  &:no-text {
    img {
      border : none;
    }
  }

  &:not(.wallpaper) {
    img {
      border-bottom : 1px solid #ddd;
    }

    .text-content {
      padding : 20px;
      font-size : 14px;
      line-height : 18px;
      color : #444;
    }
  }

  &.editable:not(.has-media),
  &.big-text {
    .text-content {
      display : table;
      height : 225px;
      width : 225px;
      margin: 0px auto;
      
      p {
        display : table-cell;
        vertical-align : middle;

        font-size : 2.0em;
        line-height : 1.1em;
        text-align : center;
      }
    }
  }

  &.editable:not(.has-media) p {
    min-width : 225px;
    min-height : 225px;
  }

  &.x2.big-text .text-content {
    width : $two-column-width - 40 + px;
  }

  &.sticky-note.x2.height  .content {
    min-height : $two-row-height + px;
  }

  &.wallpaper:not(.frame-screenshot) {
    .image-container {
      background-color: #000;

      .image-wrapper img {
        @include transition(opacity);
      }
    }

    &.has-text{
      .image-wrapper img {
        //image container background is black, lowering opacity darkens image
        @include opacity(0.7);
      }
    }

    .text-content {
      position: absolute;
      left: 0;
      width: 100%;
      top: 40%;
      @include centered-frame();
      font-size: 2em;
      color: white;

      p {
        text-shadow : none;
        padding : 0 10px;
      }
    }
  }

  /* new styles go! */
  &.typist {
    .content {
      background : {
        image : image_url("texture/typist.png");
        color : transparent;
      }
    }

    .background-color {
      display : none;
    }

    p {
      font-family : "American Typewriter", 'Fanwood Text', "Courier";
      letter-spacing : 1.5px;
      font-size : 0.9em;
      color : #111;
    }
  }

  &.fridge {
    .content {
      @include border-radius(2px);

      padding : 1.5em;
      box-sizing: border-box;

      background-image : image_url('texture/ricepaper.jpg');
    }

    .image-wrapper {
      @include box-shadow(0,0,3px,#222);
    }

    .image-wrapper,
    .image-wrapper:after,
    .image-wrapper img {
      @include border-radius(4px);
    }

    .image-wrapper:after {
      -moz-box-shadow: inset 0 0 10em #000;
      -webkit-box-shadow: inset 0 0 10em #000;
      box-shadow: inset 0 0 10em #000;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      content: "";
    }

    p {
      font : {
        family : "Shadows Into Light", "Noteworthy", "Marker Felt", "Comic Sans";
        size: 2em !important;
      }
      text-align: left;
      line-height : 1em;
    }

    .text-content {
      padding : 20px 5px 10px;
    }
  }

  &.vanilla {
    .content {
      background :{
        color : #fff;
        image : image_url("texture/vanilla.jpg");
      }
    }

    .background-color {
      display : none;
    }

    p {
      color : #111;
      text-shadow : none;
      font : {
        weight : normal;
        family : RobotoLight, Helvetica, Arial, sans-serif;
      }
    }
  }
}

.image-wrapper {
  position : relative;
}

.remove-image {
  @include transition(background);

  display : none;
  position : absolute;
  top : 10px;
  right : 10px;
  background-color : rgba(0,0,0,0.6);
  cursor : pointer;

  &:hover {
    background-color : rgba(0,0,0,1);
  }
}

// feedback actions
.canvas-frame {
  &:hover {
    .stream-frame-feedback {
      @include opacity(1);
    }
  }

  &.gs-frame {
    vertical-align:top;
    
    .stream-frame-feedback {
      .remix {
        display:none;
      }
    }
  }

  .stream-frame-feedback {
    @include transition(opacity);
    @include opacity(0);

    z-index : 80;

    position : absolute;
    top : 10px;
    right : 10px;

    cursor : pointer;

    .info {
      @include border-radius(5px);

      display : table;

      background-color : rgba(0,0,0,.7);
      width : 200px;
      height: 100px;

      a {
        @include transition(all);

        cursor : pointer;

        display : table-cell;
        width : 100px;
        height : 100%;

        background : {
          size : 80px;
          repeat : no-repeat;
          position : center;
        }

        &.delete,
        &.staff-pick {
          display : none;
        }
      }

      .remix {
        background-image : image_url('icons/post_remix@2x.png');
        &:hover {
          background-image : image_url('icons/post_remix_hover@2x.png');
        }
      }

      .modal-comment {
        background-image : image_url('icons/comm@2x.png');

        &:hover{
          background-image : image_url('icons/comm_hov@2x.png');
        }
      }

      .like {
        background-image : image_url('icons/post_love@2x.png');

        &:hover,
        &.liked {
          background-image : image_url('icons/post_love_hover@2x.png');
        }
      }

      .delete {
        background-image : image_url('icons/post_delete@2x.png');
        &:hover {
          background-image : image_url('icons/post_delete_hover@2x.png');
        }
      }

      .staff-pick {
        background-image : image_url('icons/post_feat@2x.png');
        &:hover,
        &.picked {
          background-image : image_url('icons/post_feat_hover@2x.png');
        }
      }
    }
  }
}

#canvas,
.conversation-original {
  .canvas-frame {
    overflow : hidden;
  }

  .canvas-frame:hover {
    .stream-frame-feedback {
      @include animation(bump-down);
      top : -10px;
    }
  }

  .stream-frame-feedback {
    @include transition(top);
    @include opacity(1);
    @include acceleration();

    top : -62px;

    left : 0;
    width : 100%;

    .info {
      $border : 1px solid rgba(255, 255, 255, 0.2);
      @include border-radius(0);

      width : 100%;

      padding-top : 10px;

      text-align : center;
      height: 50px;

      border-bottom: $border;

      a {
        margin-right : -3px;
        background-size: 50px;
        border-right : $border;
        width : auto;

        &.delete,
        &.staff-pick {
          display : table-cell;
        }

        &:hover {
          background-color : #000;
        }

        &:last-child {
          border-right-color : rgba(255,255,255,0);
        }
      }
    }
  }
}
