$light-blue : #33B5E5;
$nav-background : #000;

/* new styles */
$nav-background-color: rgba(250,250,250,0.8);
@mixin nav-shadow {
  @include box-shadow(1px, 0, 3px, rgba(0,0,0,0.1));
}



#header,
#user_pane {
  #user_pane_shadow {
    @include nav-shadow();
    background-color: $nav-background-color;
  }

  position:fixed;
  .blue {
    background:$light-blue;
    color: white;
  }

  .banner {

  }
  ul {
    list-style:none;
    padding:0;
    margin:0;

    > li {
      @include transition(all);
      @include opacity(.7);

      &:hover {
        @include opacity(1);
      }

      &,
      img {
        height:50px;
        width:50px;
      }

      &.active {
        @include opacity(1);
        background-color:$light-blue;
        position:relative;

        &:hover {
          background-color:$light-blue;
        }
      }
    }
  }

  ul.nav-main {
    > li.active {
      &:after {
        content: image-url('tick.png');
        position:absolute;
        top:18px;
        right:-5px;
      }
    }
  }

  ul.nav-popout.right {
    position:fixed;

    li {
      float:left;
    }

    li.popout-root {
      @include opacity(1);
      position:fixed;
      z-index:2;
    }

    ul.sub {
      @include transition(all, .2s);
      @include opacity(0);
      @include nav-shadow();

      float:left;
      background-color: $nav-background-color;
      margin-left:-100px;
    }

    &:hover {
      ul.sub {
        @include opacity(1);
        margin-left:50px;
      }
    }
  }

  ul.nav-popout.bottom {
    position:absolute;

    /* temp hack for our single use-case */
    right:0;

    li {
      float:left;
    }

    li.popout-root {
      @include opacity(1);
      position:absolute;
      z-index:2;
    }

    ul.sub {
      @include transition(all, .15s);
      @include opacity(0);
      @include nav-shadow();

      float:left;
      width:50px;
      background-color: $nav-background-color;
      margin-top:-100px;
    }

    &:hover {
      ul.sub {
        @include opacity(1);
        margin-top:50px;
      }
    }
  }
}

#header {
  left:0;
  top:0;
  width:50px;
  height:100%;
  z-index:997;
}

#user_pane {
  z-index:999;
  position:fixed;

  top:10px;
  right:10px;
  min-width:100px;
  height:50px;

  .notification-count {
    display:table-cell;
    text-align:center;
    vertical-align:middle;
    overflow:none;
    color:#fff;
    background-color: #ccc;
    font-size:2em;
    font-family:Roboto-Bold;

    &.red {
      background-color:#FF4444;
    }
    a {
      margin-top: 16px;
      display:block;
      color:inherit;
      &:hover {
        text-decoration:none;
      }
    }
  }

  ul,
  ul > li {
    float:left;
  }
}
