$light-blue : #33B5E5;
$nav-background : #000;

.navbar-inner {
  @include box-shadow(0,0,0,0);

  background : $nav-background !important;
  border-bottom : 2px solid $light-blue;

  a {
    @include transition(color);
  }

  > li > a {
    color : #fff !important;
  }

  li.active a {
    border-bottom : 5px solid $light-blue;
    background : inherit;
    padding-bottom : 9px;
    padding-top : 9px;
    background-color : $nav-background !important;
  }
}


/* new declarations */
#header {
  box-sizing: border-box;
  position: fixed;

  top: 0;
  width: 100%;

  #header_nav {
    float:left;
    padding: 5px;

    #logo {
      vertical-align:text-bottom;
      float:left;
    }

    ul {
      position: relative;
      top: 5px;
      display: inline;
      list-style: none;
      margin: 0;

      > li {
        @include transition(all);
        @include opacity(0);
        display: inline;

        &.active {
          @include opacity(1);
          float:left;
          margin-top: 5px;
        }
      }
    }

    &:hover {
      ul > li {
        @include opacity(1);
      }
    }
  }

  #header_profile {
    float:right;
  }
}



