$light-blue : #33B5E5;
$nav-background : #000;

.navbar-inner {
  @include box-shadow(0,0,0,0);

  background : $nav-background !important;
  border-bottom : 2px solid $light-blue;

  a {
    @include transition(color);
  }

  > li > a {
    color : #fff !important;
  }

  li.active a {
    border-bottom : 5px solid $light-blue;
    background : inherit;
    padding-bottom : 9px;
    padding-top : 9px;
    background-color : $nav-background !important;
  }
}

/* new styles */
$nav-background-image: rgba(250,250,250,0.8);
@mixin nav-shadow {
  @include box-shadow(1px, 0, 3px, rgba(0,0,0,0.1));
}

#header {
  @include nav-shadow();

  position:fixed;
  left:0;
  top:0;
  height:100%;
  z-index:15;
  width:50px;

  background-color: $nav-background-image;

  .logo {
    @include opacity(0.1);
  }

  ul {
    list-style:none;
    padding:0;
    margin:0;

    > li {
      @include transition(all);
      @include opacity(.7);

      &:hover {
        @include opacity(1);
      }

      &,
      img {
        height:50px;
        width:50px;
      }

      &.active {
        @include opacity(1);
        background-color:$light-blue;
        position:relative;

        &:hover {
          background-color:$light-blue;
        }

        &:after {
          content: image-url('/tick.png');
          position:absolute;
          top:18px;
          right:-5px;
        }
      }
    }
  }

  ul.nav-main {
    margin-top:50px;
  }

  ul.nav-popout {
    position:fixed;

    li {
      float:left;
    }

    li.popout-root {
      @include opacity(1);
      position:fixed;
      z-index:2;
    }

    ul.sub {
      @include transition(all, .2s);
      @include opacity(0);
      @include nav-shadow();

      float:left;
      background-color: $nav-background-image;
      margin-left:-100px;
    }

    &:hover {
      ul.sub {
        @include opacity(1);
        margin-left:50px;
      }
    }
  }

  .notification-count {
    display:table-cell;
    text-align:center;
    vertical-align:middle;
    overflow:none;
    background-color:#FF4444;
    color:#fff;
    font-size:2em;
    font-family:Roboto-Bold;

    a {
      display:block;
      color:inherit;
      &:hover {
        text-decoration:none;
      }
    }
  }
}