#post-content {
  display : table;
  position : absolute;

  height: 100%;
  width: 100%;

  top : 0;
  left : 0;

  #featured_frame {
    @include box-shadow(0,0,0,0);
  }

  #info_row {
    position : absolute;
    height : 100%;
    width : 100%;

    text-align : center;
    margin : 80px 0;
  }

  .remix-frame,
  .original-frame,
  .current-frame {
    position : relative;
    display : inline-block;

    .canvas-frame {
      float : none;
    }

    .author-name {
      position : absolute;
      top : -10px;
      left : -10px;
      z-index : 20;
    }
  }

  .current-frame {
    @include wide();
    width : 500px;
    max-height : 600px !important;
    max-width : 100%;

    vertical-align : middle;
    z-index: 0;

    .stream-frame-feedback {
      display : none;
    }

    .content {
      width : 100%;
    }
  }

  i.divider {
    margin : 0 20px;
  }

  .original-frame {
    @include transition(all);
    @include opacity(.5);

    width : 200px;

    &:hover {
      @include opacity(1);
    }

    .frame {
      width : 100%;
    }

    .author-name {
      top : -7px;
      left : auto;
      right : -7px;
    }
  }

  .original-frame {
    margin-left : -270px;
  }

  #viewer-info {
    text-align : left;
  }
}

#viewer-feedback {
  margin : 20px 0;
  a {
    margin-right : 15px;
  }

  .reshare,
  .like {
    display : inline-block;
    height : 84px;
    width : 80px;

    background : {
      size : 80px;
      repeat : no-repeat;
      position : center;
    }
  }

  .reshare {
    background-image : image_url('icons/sp_re@2x.jpg');
    &:hover {
      background-image : image_url('icons/sp_re_hov@2x.jpg');
    }
  }

  .like {
    background-image : image_url('icons/sp_like@2x.jpg');

    &.liked,
    &:hover {
      background-image : image_url('icons/sp_like_hov@2x.jpg');
    }
  }
}