#registration {
  position : absolute;
  top : 0;
  left : 0;
  /*background-color : #afc652;*/
  min-height : 100%;
  min-width : 100%;

  color : #333;

  .container {
    margin-top : 100px;
  }

  #create-something-text {
    font-family : Roboto-Light;
    font-size : 100px;
    line-height : 100px;
    white-space : nowrap;
  }

  #diaspora-hearts {
    font-family : Roboto-Light, Helvetica, Arial, sans-serif;
    font-size: 3.5em;
    line-height: 1.5em;
  }

  .sign-up-text {
    font-family : Roboto-Bold, Helvetica, Arial, sans-serif;
    margin-bottom : 0.5em;
  }

  #collage {
    width : 344px;
    height : auto;

    max-width : 95%;
  }

  #login-helper-links {
    width:100%;
    text-align: center;
    display: inline-block;
  }
}