#stream {
  .stream-row {
    display : table-cell;
    vertical-align : middle;

    .author-name {
      position : absolute;
      z-index : 12;
      top : -10px;
      left : -10px;
    }

    .frame-link {
      margin-left : 30px;
    }

    .original-frame,
    .frame-link {
      display : inline-block;
      position : relative;
      vertical-align : middle;
    }

    .frame-screenshot {
      @include box-shadow(0px,2px,8px,rgba(0,0,0,0.9));
    }

    .original-frame-wrapper {
      @include transition(all);
      @include opacity(.5);
      @include box-shadow(0,2px,8px,rgba(0, 0, 0, 0.9));
      @include acceleration();

      z-index : 5;

      position : relative;
      display : inline-block;
      margin-left : 50px;

      .author-name {
        top : -7px;
        right : -7px;
        left : auto;
      }

      &:hover {
        @include opacity(1);
        @include animation(bump-right);
        -webkit-animation-fill-mode: forwards;

        left: 50px;
      }
    }

    .original-frame {
      width : 120px;

      .frame {
        max-width : 120px;
      }

      &.holder {
        margin-left : 95px;
      }
    }

    .divider {
      margin-left: 25px;
    }
  }

  #post-info {
    max-height : 100%;

    .love-message {
      padding: 10px 0;
      text-align: center;

      a {
        min-width : 42%;
        max-width: 42%;

        i {
          margin-left: -5px;
          margin-right: 5px;
          margin-top: 2px;
        }
      }
    }

    .share-actions {
      text-align: center;
      padding-bottom: 20px;

      a {
        margin-left: 15px
      }
    }
  }

  #stream-content {
    padding-top : 75px;
    margin-left : -108px;
  }
}

#stream-interactions {
  position : fixed;
  top : 0;
  bottom : 0;
  left : 710px;
  overflow-y : auto;
  z-index : $stream-interactions-content-index;
  padding-top : 60px;

  .span5 {
    margin : 0;
  }

  .avatar {
    @include border-radius(3px);
    border : none;
  }

  /* well overrides */
  .well {
    @include box-shadow(0,0,0,0);
    background: none;
    border: none;

    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    overflow : auto;
    max-height : none;

    .author-name {
      margin-right : 1px;
    }
  }

  #new-post-comment-container {
    padding : 0;
  }

  #post-comments {
    margin-top : -10px;
  }

  .post-comment {
    -moz-box-shadow: 0 3px 7px -5px #666;
    -webkit-box-shadow: 0 3px 7px -5px #666;
    box-shadow: 0 3px 7px -5px #666;

    border : none;
    padding-left : 0;

    time {
      color: #aaa;
    }
  }

  .permalink {
    a {
      padding : 0 3px;
    }

    i {
      margin-top : 6px;
    }
  }
}

#stream-content {
  .stream-frame {
    margin-bottom : 50px;

    .text-content {
      z-index: $stream-post-index;
    }

    .remove-post {
      @include transition(all);
      @include opacity(0);
      position : absolute;
      top : 10px;
      right : 0px;
    }

    .stream-frame-feedback {
      @include transition(opacity);
      @include opacity(0);

      z-index : 10;

      text-align : center;
      vertical-align : middle;

      position : absolute;
      top : 0px;
      left : 0px;

      height : 100%;
      width : 100%;

      background-color : rgba(0,0,0,.7);

      .info {
        @include border-radius(5px);
        display : inline-block;
        margin-top : 20px;
        background-color : rgba(0,0,0,.7);
        cursor : pointer;

        .reshare,
        .like {
          @include transition(all);

          cursor : pointer;

          display : inline-block;
          height : 100px;
          width : 100px;

          background : {
            size : 80px;
            repeat : no-repeat;
            position : center;
          }
        }

        .reshare {
          background-image : image_url('icons/post_remix@2x.png');
          &:hover {
            background-image : image_url('icons/post_remix_hover@2x.png');
          }
        }

        .like {
          background-image : image_url('icons/post_love@2x.png');
          &:hover {
            background-image : image_url('icons/post_love_int@2x.png');
          }

          &.liked {
            background-image : image_url('icons/post_love_hover@2x.png');
            &:hover {
              background-image : image_url('icons/post_love_int@2x.png');
            }
          }
        }
      }

    }

    .frame-link:hover {
      .stream-frame-feedback {
        @include opacity(1);
      }

      .remove-post {
        @include opacity(0.7);
        right : -25px;

        &:hover {
          @include opacity(1);
        }
      }
    }

    .photo-backdrop .text-content p,
    .status-with-photo-backdrop .text-content p {
      color: #111;
    }

    .canvas-frame {
      .info {
        display : none;
      }
    }

    a.toggle-featured {
      color: #888;
    }

    .stream-post-info {
      margin-top : 10px;

      .detail {
        float : right;

        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;

        cursor : default;

        span {
          margin-left : 5px;
        }
      }
    }

    .small-frame {
      width : 500px;
      font-size : 1em !important;
    }

    .canvas-frame .content {
      cursor : default;
    }
  }

  .canvas-frame {
    width: 100%;
    margin : 0;
    float : none;

    .content {
      width: 100%;


    }
  }
}

#stream-interactions-divider {
  position: fixed;
  left: 670px;
  top: 20px;
  width : 10px;
}

#notifications-button {
  font-weight : bold;

  &.btn-inverse {
    color : #999;
  }
}

.post-notifier {
  @include border-radius(3px);
  @include box-shadow(0, 2px, 3px, rgba(0, 0, 0, .7));
  @include transition(all);

  position: fixed;
  top: 0;
  left: 318px;
  z-index: 15;

  background-color: #BD362F;
  cursor: pointer;

  color: white;
  font-family: Roboto-Bold;

  padding : {
    top : 43px;
    left : 40px;
    right : 40px;
    bottom : 5px;
  }

  &:hover {
    background-color : #EE5F5B;
  }
}