#stream {
  .stream-row {
    display : table-cell;
    vertical-align : middle;

    .author-name {
      position : absolute;
      z-index : 2;
      top : -10px;
      left : -10px;
    }

    .frame-link {
      margin-left : 30px;
    }

    .original-frame,
    .frame-link {
      display : inline-block;
      position : relative;
    }

    .frame-screenshot {
      @include box-shadow(0px,2px,8px,rgba(0,0,0,0.9));
    }

    .original-frame-wrapper {
      @include transition(all);
      @include opacity(.5);
      @include box-shadow(0,2px,8px,rgba(0, 0, 0, 0.9));

      z-index : 5;

      position : relative;
      display : inline-block;
      margin-left : 50px;

      .author-name {
        top : -7px;
        right : -7px;
        left : auto;
      }

      &:hover {
        @include opacity(1);
        @include animation(bump-right);

        left: 50px;
      }
    }

    .original-frame {
      width : 120px;

      .frame {
        max-width : 120px;
      }

      &.holder {
        margin-left : 95px;
      }
    }

    .divider {
      @include opacity(.5);
      margin-left: 25px;
    }
  }

  #post-info {
    position : fixed;
    max-height : 100%;

    .love-message {
      padding: 10px 0;
      text-align: center;

      a {
        min-width : 42%;
        max-width: 42%;

        i {
          margin-left: -5px;
          margin-right: 5px;
          margin-top: 2px;
        }
      }
    }

    .share-actions {
      text-align: center;
      padding-bottom: 20px;

      a {
        margin-left: 15px
      }
    }
  }

  #stream-content {
    padding-top : 75px;
    margin-left : -108px;
  }
}

#stream-interactions {
  position : fixed;
  top : 0;
  bottom : 0;
  left : 710px;
  overflow-y : auto;
  z-index : $stream-interactions-content-index;
  padding-top : 40px;

  .span5 {
    margin : 0;
  }
}

#stream-content {
  .stream-frame {
    margin-bottom : 40px;

    .text-content {
      z-index: $stream-post-index;
    }

    .stream-frame-feedback {
      float : right;
      margin-top : 5px;
    }

    .photo-backdrop .text-content p,
    .status-with-photo-backdrop .text-content p {
      color: #111;
    }

    .canvas-frame {
      .info {
        display : none;
      }
    }

    a.toggle-featured {
      margin-left: 100px;
      color: #888;
      text-decoration: underline;
    }

    .small-frame {
      width : 500px;
      font-size : 1em !important;
    }
  }

  .canvas-frame {
    width: 100%;
    margin : 0;
    float : none;

    .content {
      width: 100%;

      /* cursor overrides */
      cursor : pointer;
    }
  }
}
