#stream,
#stream-content {
  min-height : 100%;
  height : 100%;
  padding-top : 40px;
}

.stream-frame {
  @include transition(all);

  $large-size : 500px;

  margin-bottom : 50px;
  padding-top : 10px;
  padding-bottom : 10px;
  margin-left  : 70px;

  max-width : 100%;

  //overflow : hidden;
  white-space : nowrap;

  .frame {
    @include box-shadow(0,1px,5px,#666);
  }

  .original-frame,
  .big-frame,
  .remix-frame {
    @include transition(all);
    display : inline-block;
    text-align : center;
  }

  .original-frame,
  .remix-frame {
    @include opacity(0.5);
  }

  .original-frame {
    width : 150px;
    margin-right : 70px;
  }

  .big-frame {
    width : $large-size;
  }

  .remix-frame {
    width : 250px;
    margin-left : 70px;
  }

  &:active {
    margin-left : -230px;

    .big-frame,
    .remix-frame,
    .original-frame {
      @include opacity(1);

      width : $large-size;
      margin-left : 20px;
    }

    .original-frame {
      margin-right : 0;
      margin-left : 0;
    }
  }
}