#tag-info {
  #page_title {
    margin-bottom:0;
  }

  #tag_descrip_large {
    font-family:RobotoLight;
    color:#888;
    margin-bottom:1em;
  }

  #tag-leaders{
    overflow:hidden;
    max-height: 155px;
    margin-bottom:50px;

    .leader {
      position:relative;
      display:inline-block;
      height:133px;
      width:133px;
      margin-right:6px;

      background : {
        position : center;
        size: cover;
        image : image-url('user/default.png');
      }

      a {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;

        &:hover {
          span {
            background-color: rgba(0,0,0,.9);
          }
        }
      }

      span {
        @include transition(background-color);
        position: absolute;
        box-sizing:border-box;
        bottom: 0;
        left:0;
        color: white;
        width: 100%;
        padding: 5px 10px;
        padding-top: 8px;
        background-color: rgba(0,0,0,.4);

        text-transform: uppercase;
        font-family: RobotoBold;
      }
    }
  }

  #tag-participants {
    margin: 10px 0;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 10px;
    width: 100%;
    text-align: center;
    img {
      vertical-align: text-bottom;
    }
  }

  .tag-row {
    display: inline-block;
    margin-right: 10px;
  }
}

/* topics index */
.topics {
  .media {
    margin-left:0;
  }
}

.topic {
  @include transition(all);
  @include box-shadow(0,1px,1px,rgba(0,0,0,.1));

  &:hover {
    @include box-shadow(0,1px,1px,rgba(0,0,0,.5));
  }

  margin-bottom:20px;
  background-color:#fff;
  max-height:120px;

  a {
    color:inherit;

    &:hover {
      text-decoration:none;
      .topic-title {
        text-decoration:underline;
      }
    }
  }

  .topic-image {
    height:120px;
    width:120px;
    display:block;

    background : {
      position:center;
      size:cover;
      color:#ddd;
    }
  }
}
