#tag-info {
  #tag-leaders{
    overflow:hidden;
    max-height: 155px;
    margin-bottom:50px;

    .leader {
      position:relative;
      display:inline-block;
      height:133px;
      width:133px;
      margin-right:6px;

      background : {
        position : center;
        size: cover;
        image : image-url('user/default.png');
      }

      a {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;

        &:hover {
          span {
            background-color: rgba(0,0,0,.9);
          }
        }
      }

      span {
        @include transition(background-color);
        position: absolute;
        box-sizing:border-box;
        bottom: 0;
        left:0;
        color: white;
        width: 100%;
        padding: 5px 10px;
        padding-top: 8px;
        background-color: rgba(0,0,0,.4);

        text-transform: uppercase;
        font-family: RobotoBold;
      }
    }
  }

  #tag-participants {
    margin: 10px 0;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 10px;
    width: 100%;
    text-align: center;
    img {
      vertical-align: text-bottom;
    }
  }

  .tag-row {
    display: inline-block;
    margin-right: 10px;
  }
}

/* topics index */
.topic {
  position:relative;
  display: inline-block;

  height:180px;
  width:150px;

  margin-right: 50px;
  margin-left: 20px;
  margin-bottom:50px;

  a {
    position:absolute;
    height:100%;
    width:100%;
    color:inherit;

    &:hover {
      text-decoration:none;
      .topic-title {
        text-decoration:underline;
      }
    }
  }

  .topic-info {
    width:100%;
    text-align:center;
    text-transform:capitalize;

    .topic-title {
      font-family:RobotoBold;
    }

    .topic-vitals {
      color:#999;
    }
  }

  .stack {
    height:185px;
    width:185px;
    background-image:image-url("stack.png");
    background-size:100%;
    margin-left:-20px;
  }

  .topic-image {
    @include box-shadow(0,1px,3px,rgba(0,0,0,.5));

    height:150px;
    width:150px;
    position:relative;
    top:20px;
    left:20px;

    background : {
      position:center;
      size:cover;
      color:#ddd;
    }
  }
}
