@import url(//fonts.googleapis.com/css?family=Shadows+Into+Light);

@font-face {
    font-family: Roboto;
    src: image-url('fonts/Roboto-Regular-webfont.eot');
    src: image-url('fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         image-url('fonts/Roboto-Regular-webfont.woff') format('woff'),
         image-url('fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         image-url('fonts/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: RobotoLight;
    src: image-url('fonts/Roboto-Light-webfont.eot');
    src: local('☺'),
         image-url('fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         image-url('fonts/Roboto-Light-webfont.woff') format('woff'),
         image-url('fonts/Roboto-Light-webfont.ttf') format('truetype'),
         image-url('fonts/Roboto-Light-webfont.svg#RobotoLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: RobotoBold;
    src: image-url('fonts/Roboto-Bold-webfont.eot');
    src: image-url('fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         image-url('fonts/Roboto-Bold-webfont.woff') format('woff'),
         image-url('fonts/Roboto-Bold-webfont.ttf') format('truetype'),
         image-url('fonts/Roboto-Bold-webfont.svg#RobotoBold') format('svg');
    font-weight: normal;
    font-style: normal;

}



body, p, h1, h2, h3, h4, h5, h6, textarea, input, * {
  font-family : Roboto;
  font-weight : normal;
  font-style : normal;
}

a {
  font-family : Roboto;
}