postgres: &postgres
  adapter: postgresql
  host: localhost
  port: 5432
  username: postgres
  password:
  encoding: unicode

# You can ignore this
postgres_travis: &postgres_travis
  adapter: postgresql
  username: postgres

common: &common
  # Choose one of the following
  <<: *postgres

# Normally you don't need to touch anything here
development:
  <<: *common
  database: makrio_development
production:
  <<: *common
  database: makrio_production
test:
  <<: *common
  database: "makrio_test<%= ENV['TEST_ENV_NUMBER'] %>"
integration1:
  <<: *common
  database: makrio_integration1
integration2:
  <<: *common
  database: makrio_integration2
