<div id="framer-wrapper">
    <h1 id="page_title">
        {{#if sourcePost}}
            Remixing {{author.name}}'s <a href="/p/{{sourcePost.id}}" target="_blank">Post</a>. <small> Change the text or photo!</small>
        {{else}}
           Make a new post <small>Add a photo, then add text by clicking on the photo</small>
        {{/if}}
    </h1>

    <div class="flow-content"/>
    <div class="flow-controls"/>
</div>