<div class="vitals">
    <div class="post-author">
        {{#if staff_picked_at}}
            <i class="icon-star icon-grey"></i>
        {{/if}}

        {{#unless onProfilePage}}
            {{#linkToPerson author}}
                {{name}}
            {{/linkToPerson}}
        {{/unless}}
    </div>

    <i class="icon-heart icon-grey"></i> {{interactions.likes_count}}
    <i class="icon-random icon-grey"></i> {{interactions.remix_count}}
    <i class="icon-comment icon-grey"></i> {{interactions.comments_count}}
</div>
