<div class='stream-frame-feedback' />

<div class="content">
    <img src="{{screenshot_url}}" height="{{adjustedImageHeight}}px"   width="{{adjustedImageWidth}}px" class="{{has_gif}} frame-screenshot" />
    {{#if has_gif}}
      <div class='video-overlay'/>
    {{/if}}
</div>

<div class="p-info"/>