<div class='stream-frame-feedback' />

<div class="content">
    <img src="{{screenshot_url}}" {{#if adjustedImageHeight}}style="height:{{adjustedImageHeight}}px;"{{/if}} class="frame-screenshot" />
</div>

<div class="p-info"/>