{{#unless userLike}}
	<button class="btn new-btn like" style="width:49%; float:left;"><i class="icon-heart icon-grey"/> I love this</button>
{{else}}
	<button class="btn new-btn like disabled" style="width:49%; float:left;"><i class="icon-heart icon-red"/> Loved</button>
{{/unless}}

<button class="btn new-btn remix" style="width:49%; float:right;"><i class="icon-random icon-blue"/> Remix this</button>
