<header/>
<div class='container about'>
  <div class='row'>
    <div class='span8'>
      <h1>About <em>Makr</em></h1>

      <h2>Makr.io <small>Our Mission</small></h2>

      <p>
        We love the internet. We are a community of makers and web-remixers who want to explore our own creative voice on the internet, and in a space where we can easily share ideas and collaborate with other internet-lovers. Makr is the space that lets you      easily pull content from anywhere on the web, add or change elements to remix it, and share your creative vision with the world. We are always evolving and so is the internet—come join us and be part of the process of internet culture history as it unfolds.
      </p>

      <h2>What is a remix? </h2>
      <p>
        Everything is a remix. Remixing is a way we continue spreading ideas, creativity and inspiration for others to take and build on. We see remixing as a creative and collaborative tool that makes the internet so awesome. Riffing off of things that you find on the internet…asdfasdfasd. Starting a conversation with friends, strangers, whoever that has a common interest/passion . Sharing ideas, having fun, playful storytelling, learning, sharing your personality, how you play with others, how you share ideas with others. 
      </p>

      <h2>The Team</h2>
      <p>
        The Makr.io team is a bunch of hackers, designers, and internet-lovers living in the Bay Area. When we're not working on Makr.io or thinking about the internet, you can currently find us playing video games, eating Otter Pops, or riding our bikes around the neighborhood.
      </p>

      <h2>Contact Us</h2>
      <p>
        Got feedback? Questions? Just need someone to talk to? We'd love to hear from you. Email us: <a href='mailto:hello@makr.io'>hello@makr.io</a>.
      </p>


      <h2>Follow Us</h2>
      <a href='http://pinterest.com/makrioapp'>Pinterest</a>
      <a href='http://twitter.com/makrioapp'>Twitter</a>
      <a href='http://facebook.com/makrapp'>Facebook</a>
      <a href='http://makrio.tumblr.com/'>Tumblr</a>

    </div>
  </div>
</div>
 

