<header/>
<div id="user_pane"/>

<div class='container about'>
  <div class='row'>
    <div class='span6 offset3'>
      <div id="about_container">
        <h1 id="page_title">About</h1>


        <h2>Makr.io</h2>
        <p>
          Makr is the place for simple, creative collaboration. We give you the tools to easily pull content from anywhere on the web, add or change elements to remix it, and share your unique vision with the world. We encourage building on existing ideas to generate creative conversations.
        </p>
        <br/>

        <h2>What is a remix?</h2>
        <p>
          A remix is a combination of image and text selected by you and posted to Makr. A remix can be added from the web, your computer, or built on an existing Makr post.
        </p>
        <br/>

        <h2>Our Mission</h2>
        <p>
          Our goal is to provide an easy way for anyone to discover their creative voice; their inner-Makr. When we collaborate with others, new ideas and inspiration can emerge. We view remixing as a cultural tool that continues the spread of ideas, creativity and inspiration for others to take and build upon.
        </p>
        <br/>

        <h2>The Team</h2>
        <p>
          The Makr.io team is a bunch of hackers, designers, and internet-lovers living in the Bay Area. When we're not working on Makr.io or thinking about the internet, you can currently find us playing video games, eating Otter Pops, or riding our bikes around the neighborhood.
        </p>
        <br/>

        <h2>Contact Us</h2>
        <p>
          Got feedback? Questions? Just need someone to talk to? We'd love to hear from you. Email us: <a href='mailto:hello@makr.io'>hello@makr.io</a>.
        </p>
        <br/>

        <h2>Follow Us</h2>
        <div class="follow-buttons">
          <a href='http://facebook.com/makrapp' title="Facebook" target="_blank">
            <img src="{{imageUrl "services/links/fb@2x.png"}}" />
          </a>
          <a href='http://twitter.com/makrioapp' title="Twitter" target="_blank">
            <img src="{{imageUrl "services/links/twitter@2x.png"}}" />
          </a>
          <a href='http://makrio.tumblr.com/' title="Tumblr" target="_blank">
            <img src="{{imageUrl "services/links/tumblr@2x.png"}}" />
          </a>
          <a href='http://pinterest.com/makrioapp' title="Pinterest" target="_blank">
            <img src="{{imageUrl "services/links/pin@2x.png"}}" />
          </a>
        </div>

      </div>
    </div>
  </div>
</div>
 

