<div class='container'>
  <h1> imgfave <small>remix pic of the day.</h1>
  <h3> play with wonderful images, powered by Makr.io</h3>
  <p> use the share on imgfave button to post your favorite remixes back to imgfave!</p>
</div>
