<div class='container'>
  <h1 class='branding-header'>
    <img src='{{imageUrl "buttons/imgfave.png"}}' height='100px'/>
    <small>remix photo of the day</small> 
  </h1>
  <p class='branding-description'> Play with wonderful images, powered by Makr.io.  
   Use the imgfave button to post your favorite remixes back to imgfave!</p>
</div>
