<div class="container">
    {{#if title}}
    <div class="row" style="padding-bottom: 30px;">
        <h1>{{title}}</h1>
    </div>
    {{/if}}

    <section id="canvas"/>
    <div id="paginate"><span class="loader hidden"/></div>
</div>
