<div id='post-content' style="position:static" width='800px'> 
  <div class='span5'>
    <h1>Looks great! <small> <a href='/latest'> See your post on "Latest"</a></small></h1>

    <div class="current-frame">
      <div id='featured_frame' width='500px'/>
    </div>
    <br/>
    <br/>
    <br/>


    <div class='share-button-container'>
      <div id='share-actions'/>
    </div>
  </div>
</div>