<div class='content add_button'>
    {{#if loggedIn}}
        <a href='#' rel='auth-required' data-remix-id='new' data-tag='{{name}}' class='btn new-btn collection-composer-button blue'>+ Add Post</a>
    {{else}}
        <a href="#" rel='auth-required' class='btn new-btn'> + Add Post</a>
    {{/if}}
</div>
