<div id="framer-wrapper">
    {{#if sourcePost}}
        <div id="reshare media author">
             <div class="media author">
                <h1> Remixing... </h1>
                {{#linkToPerson author}}
                    <div class="img">
                        <div class="profile-image-container smaller" style="background-image : url('{{avatar.large}}')"></div>
                    </div>
                {{/linkToPerson}}

                <div class="bd">
                    {{#linkToPerson author}}
                        {{name}}
                    {{/linkToPerson}}
                    <br/>
                    <a href='/posts/{{sourcePost.id}}' target='_blank'>source</a>
                </div>
            </div>
        </div>
        {{else}}
        <h2>
           Add Photos & Make Something!
        </h2>
        {{/if}}

    <div class="flow-content"/>

    <div class="flow-controls">
        <div class="controls"/>
    </div>
</div>