<div id="framer-wrapper">
    <h2 style="margin:20px 0;">
        {{#if sourcePost}}
            Remixing {{author.name}}'s <a href="/p/{{sourcePost.id}}" target="_blank">Post</a>
        {{else}}
           Add Photos & Text
        {{/if}}
        
    </h2>

    <div class="flow-content"/>

    <div class="flow-controls">
        <div class="controls"/>
    </div>
    <p class='well' id='bookmarklet_well'> <b>PRO-TIP</b> Drag this link to your bookmarks bar to remix anywhere from the web →
      <a class='btn new-btn blue' href='{{bookmarklet}}' >Remix</a></p>
</div>