
<form accept-charset="UTF-8" action="/photos" class="new_photo form-inline" data-remote="true" enctype="multipart/form-data" method="post" style='margin:;'>
    <input name="authenticity_token" type="hidden"/>
    <div style="margin:0;padding:0;display:inline">
        <input name="utf8" type="hidden" value="?"/>
    </div>

    <div id='photo_upload_button' style='display:inline-block'>
        <a class='btn btn-inverse'>+ <i class="icon-camera icon-white" style="display:inline-block;margin-right:4px;"></i></a>
    </div>
    <span style="padding:0 5px">or</span> 
    <input type="text"  class="input" name="photo[image_url]" placeholder='http://' />
    <a href='#' class='img-url btn btn-inverse'> Upload From URL</a>
</form>
