<!--to remove-->
{{#unless loggedIn}}
    <div class="container">
        <div id="landing_banner">
            <a href="/users/sign_up" class="login btn new-btn huge-btn red" style="float:right; margin-right:30px;">
                Sign up now
            </a>

            <h1>
                Makr.io is a collaborative web-remixing community.
            </h1>
            <h2>
                Creatively explore the topics you love with others.
            </h2>
        </div>
    </div>
{{/unless}}
<!--to remove-->

<div class="container">
   <div id='new_post_notifier'/>
    <section id="canvas"/>
    <div id="paginate"><span class="loader hidden"/></div>
</div>