<header/>
<div id="user_pane"/>

<!--to remove-->
{{#unless loggedIn}}
    <div class="container">
        <div id="welcome" class="hero-unit">
            <img style='float:left' id='logo-title' src='{{imageUrl "landing_title@2x3.jpg"}}' width="870px" height="71px"/>   
        </div>
    </div>

    <div class='steps'>
        <div class="container image-wrap">
            <img class='steps' src='{{imageUrl "landing_steps@2x_mini1.jpg"}}' />
        </div>
    </div>
{{/unless}}
<!--to remove-->

<div class="container">
    {{#unless loggedIn}}
       <h2 class='featured-title'>Featured Remixes <small><a href='/stream' >See what people are remixing right now!</a></small></h2>
    {{else}}
        {{#if pageTitle}}
            <h1 id="page_title">{{pageTitle}}</h1>
        {{/if}}
    {{/unless}}
    <div class='clearfix'/>

    <section id="canvas"/>
    <div id="paginate"><span class="loader hidden"/></div>
</div>