<div class='container' width='1000px'>
	<div id="gs_1">
		<h1 id='page_title' style="margin-bottom=0;">
			Before you jump in...
		</h1>
	  	<h2>
	   		Pick your favorite posts below, so we can customize Makr just for you.  
	  	</h2>

	  	<div id='canvas'/>
	  	<div class='clearfix'/>
	   	<a style='float:right' class='btn new-btn blue' id='next_step_link' href='#'>I did it!</a>
	</div>

	<div id="gs_2" style="display:none;">
		<h1 id='page_title' style="margin-bottom=0;">
			Also, there's this thing called "remixing"...
		</h1>
	  	<h2>
	  		Not only can you find interesting content on Makr, but you can also mix it up.
	  	</h2>

	  	<img src="{{imageUrl "getstartedsteps@2x.jpg"}}" style="margin-bottom:20px;"/>

	   	<a style='float:right' class='btn new-btn blue' id='done' href='/interests'>Awesome, take me to Makr!</a>
	</div>
</div>