<div class="gs-container">
    <div class="img-wrapper">
        <img src="{{imageUrl "getting-started-popup.png"}}" height=685 width=949 />
        <a href="#" class="new-btn gs-done">Got it!</a>
    </div>
</div>