<div class='container' width='1000px'>
  <h1 id='page_title' style="margin-bottom=0;">
    Before you jump in...
  </h1>
  <h2>
    Pick your favorite posts below, so we can customize Makr just for you.  
  </h2>

  <div id='canvas'/>
  <div class='clearfix'/>
   <a style='float:right' class='btn new-btn blue'  id='done' href='/interests'>I did it!</a>
</div>