<div class='container' width='1000px'>
   <h1 id='page_title'>Welcome To Makr.io! </h1>

  <h3>
   In order to get you started liking and remixing, first tell us a bit about what floats your boat.

   Like any number of these posts to get you started, and we will show you a bunch of cool remixes like this.

   Don't worry, you can customize further once you get inside!

  </h3>

  <div id='canvas'/>
  <div class='clearfix'/>
   <a style='float:right' class='btn new-btn blue' href='/interests'>Click Here After you like something.</a>
</div>