<div id='post-content' style="position:static">
	<div>
		<h2>
			{{{personImage author}}}
			{{author.name}}'s Post
		</h2>
	</div>

	<div id="selected_frame" />

	<div id="selected_reactions" />
	<div id="selected_new_comment" />

	<div style="margin-top:20px;">
		<h6>Share</h6>
		<div id="share-actions" />
	</div>
</div>