  <div id="sign_up_prompt">
    <a href='/' ><img src='{{imageUrl "logos/landing_logo@2x.png"}}' width='220px' class='banner-logo'/></a>
      <div class="container">
          <div class="tagline">
             The place for creative collaboration.       
          </div>
      </div>
  </div>