{{#if userLike}}
    <a class='btn  btn-inverse love-this disabled' style="cursor:pointer;"><i class="icon-heart icon-white"></i> Loved</a>
{{else}}
    <a class='btn  btn-danger love-this'><i class="icon-heart icon-white"></i> Give {{author.nickname}} Love!</a>
{{/if}}
<a class='btn btn-primary remix-this' href='/posts/{{id}}/remix'><i class="icon-random icon-white"></i> Remix This</a>