<div id="author-info"></div>

<div id="top-right-nav">
    {{#loggedIn}}
        <a href="/" id="home-button">
            <span class="label label-inverse">
                <i class="icon-home icon-white"></i>
                <span>
                    {{t "viewer.home"}}
                </span>
            </span>
        </a>
    {{/loggedIn}}
</div>

<div id="post-content"> </div>
<div id="post-nav"> </div>
<div id="post-interactions"> </div>

{{#unless current_user.guid}}
    <div id="sign_up_prompt">
        <div class="container">
            <h1>
                makr.io
            </h1>

            <div class="tagline">
                Collect & Remix
            </div>

            <a href="/users/auth/facebook" class="btn-large new-btn fb-btn" style="margin-right:10px; color: #FFF">
                <img alt="Fb_f" class="fb-f" src="/assets/logos/fb_f.png">
                Log in with Facebook
            </a>

            <a href ="/posts/{{id}}/remix" id="sign_up_button" class="new-btn" data-type="show_page">
                Remix {{author.name}}'s post Now!
            </a>
        </div>
    </div>
{{/unless}}