<div id="author-info"></div>

<div id="top-right-nav">
    {{#loggedIn}}
        <a href="/" id="home-button">
            <span class="label label-inverse">
                <i class="icon-home icon-white"></i>
                <span>
                    {{t "viewer.home"}}
                </span>
            </span>
        </a>
    {{/loggedIn}}
</div>

<div id="post-content"> </div>
<div id="post-nav"> </div>
<div id="post-interactions"> </div>

{{#unless current_user.guid}}
    <div id="sign_up_prompt">
        <div class="container">
            <h1>
                makr.io
            </h1>

            <div class="tagline">
                make it uniquely you
            </div>

            <a href ="/users/sign_up" id="sign_up_button" class="new-btn" data-type="show_page">
                Sign up
            </a>
        </div>
    </div>
{{/unless}}