<header/>
<div id="user_pane"/>

<div id="post-content">
    <div id="info_row">
        <div class="container">
            <div id="post-detail" class="row"/>

            <div class="clearfix"/>

            <div class="row">
                <div class="span12" style="margin-top: 100px; border-top:1px solid #ccc;">
                    <h3 style="text-align: left; padding: 20px 0;">More remixes from conversation <a href="#">{{conversation_name}}</a></h3>
                    <div id="canvas"/>
                </div>
            </div>
        </div>
    </div>
</div>

{{#unless current_user.guid}}
    <div id="sign_up_prompt">
        <div class="container">
            <div class="tagline">
                {{author.nickname}} uses Makr.io to remix content around the web.
            </div>

            <a href ="/posts/{{id}}/remix" id="sign_up_button" class="new-btn" data-type="show_page">
                Remix {{author.nickname}}'s post Now!
            </a>
        </div>
    </div>
{{/unless}}
