<div id="author-info"></div>

<div id="top-right-nav">
    {{#loggedIn}}
        <a href="/" id="home-button">
            <span class="label label-inverse">
                <i class="icon-home icon-white"></i>
                <span>
                    {{t "viewer.home"}}
                </span>
            </span>
        </a>
    {{/loggedIn}}
</div>

<div id="post-content"> </div>
<div id="post-nav"> </div>
<div id="post-interactions"> </div>

{{#unless current_user.guid}}
    <div id="sign_up_prompt">
        <div class="container">
            <img src='{{imageUrl "logos/large@2x.png"}}' height='35px' class='banner-logo'/>

            <div class="tagline">
                Remix is the highest form of flattery.
            </div>

            <a href ="/posts/{{id}}/remix" id="sign_up_button" class="new-btn" data-type="show_page">
                Remix {{author.name}}'s post Now!
            </a>
        </div>
    </div>
{{/unless}}