<div id="post-content">
    <div id="info_row">
        <div class="container">
            <div id="post-detail" class="row"/>

            <div class="clearfix"/>

            <div class="row">
                <div class="span12" style="margin-top: 100px; border-top:1px solid #ccc;">
                    <h3 style="text-align: left; padding: 20px 0;">More remixes from <a href="#">{{conversation_name}}</a></h3>
                    <div id="canvas"/>
                </div>
            </div>
        </div>
    </div>
</div>
