<header/>
<div id="user_pane"/>
<div class='container pro-tips'>
  <div class='row'>
    <div class='span8'>
      <h1>Pro-Tips</h1>

        <h2>Remix button</h2>
          <p class='well' id='bookmarklet_well'>Drag this link to your bookmarks bar to remix anywhere from the web →
            <a class='btn new-btn blue' href='{{bookmarklet}}' >Remix</a>
          </p>
        <p>
          Once installed in your browser, the “Remix” button lets you grab an image from any website, and you can begin customizing the image with your own creative message! You can post your creation to one of your topic pages on Makr, and share with your friends there or anywhere on the web.
        </p>

        <h2>Keyboard shortcuts</h2>
        <p class='well'>j  k  r  l</p>
        <p>
          Browse through posts on Makr.io with the greatest of ease using keyboard shortcuts! Use the “J” & “K” keys to flip back and forth between posts. Press the “L” to like a post and “R” to remix one. Don’t worry, you’ll get the hang of it :)
        </p>

        <h2>Need more help?</h2>
        <p>
          Or got feedback? Questions? Just need someone to talk to? We'd love to hear from you. Email us: <a href='mailto:hello@makr.io'>hello@makr.io</a>.
        </p>






    </div>
  </div>
</div>