<!--{{#if is_own_profile}}-->
    <!--<div id="wallpaper-upload"></div>-->
<!--{{/if}}-->

<div class="container">
    <div id="top-right-nav">
        {{#if current_user.guid}}
            <a href="/" id="home-button">
                <span class="label label-inverse">
                    <i class="icon-home icon-white"></i>
                    <span>
                        HOME
                    </span>
                </span>
            </a>
        {{else}}
            <a href="/" id="home-button">
                <span class="label label-inverse">
                    <span>
                        makr.io
                    </span>
                </span>
            </a>
        {{/if}}
    </div>

    <section id="profile-info"/>
    <section id="canvas"/>

    <div id="paginate"><span class="loader hidden"/></div>
</div>

{{#unless current_user.guid}}
    <div id="sign_up_prompt">
        <div class="container">
            <img src='{{imageUrl "logos/large@2x.png"}}' height='35px' class='banner-logo'/>

            <div class="tagline">
                Remix is the highest form of flattery.
            </div>

            <a href="/users/auth/facebook" class="btn-large new-btn fb-btn" style="margin-right:10px; color: #FFF">
                <img alt="Fb_f" class="fb-f" src='{{imageUrl "logos/fb_f.png"}}'>
                Log in with Facebook
            </a>

            <a href ="/users/sign_up" id="sign_up_button" class="new-btn" data-type="profile">
                Sign up
            </a>
        </div>
    </div>
{{/unless}}
