<!--{{#if is_own_profile}}-->
    <!--<div id="wallpaper-upload"></div>-->
<!--{{/if}}-->

<div class="container">
    <div id="top-right-nav">
        {{#if current_user.guid}}
            <a href="/" id="home-button">
                <span class="label label-inverse">
                    <i class="icon-home icon-white"></i>
                    <span>
                        HOME
                    </span>
                </span>
            </a>

            <a href="/users/sign_out" title="Log out" id="logout-button">
                <span class="label label-inverse">
                    <i class="icon-off icon-white"></i>
                </span>
            </a>
        {{else}}
            <a href="/" id="home-button">
                <span class="label label-inverse">
                    <span>
                        makr.io
                    </span>
                </span>
            </a>
        {{/if}}
    </div>

    <section id="profile-info"/>

    <section id="profile-controls">
        {{#if is_own_profile}}
            <div id="composer" class="hidden"></div>

            <a href="/posts/new" id="composer-button" class="control small label label-inverse">
                MAKE
            </a>
            <a href="#" id="edit-mode-toggle" class="control small label label-inverse" title="Edit Posts" rel="tooltip">
                <img src='{{imageUrl "buttons/edit2@2x.png"}}'/>
            </a>
        {{/if}}
    </section>

    <section id="canvas"></section>

    <div id="paginate"><span class="loader hidden"/></div>
</div>

{{#unless current_user.guid}}
    <div id="sign_up_prompt">
        <div class="container">
            <h1>
                makr.io
            </h1>

            <div class="tagline">
                Remix is the highest form of flattery.
            </div>

            <a href="/users/auth/facebook" class="btn-large new-btn fb-btn" style="margin-right:10px; color: #FFF">
                <img alt="Fb_f" class="fb-f" src="/assets/logos/fb_f.png">
                Log in with Facebook
            </a>

            <a href ="/users/sign_up" id="sign_up_button" class="new-btn" data-type="profile">
                Sign up
            </a>
        </div>
    </div>
{{/unless}}
