
<div class="container">
    <div id="landing_banner">
        <div id='landing_header'>
            <div id='sign_up'>
                <a href="/users/auth/facebook" class="login btn-large new-btn fb-btn" ><img alt="Fb_f" class="fb-f" src="/assets/logos/fb_f.png">Login with Facebook</a>
                <br/>
                <a id='email-link' href="/users/sign_up">
                    Sign up the email way
                </a>
            </div>
   
            <h1>
                Makr.io is a new kind of meme generator.
            </h1>
            <h2>
                 A simple way to create <span id='typist-container'><span id='typist'>memes</span> </span>with friends. <a href='/about'>   Learn More </a>
            </h2>
        </div>
        {{#if onFrontPage}}
            <div style="text-align:center;padding-top:30px;">
                <img width="819px" src="/assets/branding/landing.jpg" />
            </div>
        {{/if}}
    </div>
</div>