
<div class="container">
    <div id="landing_banner">
        <div id='landing_header'>   
            <h1>
                Makr.io is the new way to create and share fun ideas.
            </h1>
            <h2>
                 A simple way to play off of your friends' creations!
            </h2>

            <div id='sign_up'>
                <a href="/users/auth/facebook" class="login btn-large new-btn fb-btn" ><img alt="Fb_f" class="fb-f" src="/assets/logos/fb_f.png">Login with Facebook</a>
                <div style="margin-top:10px;">
                    <a id='email-link' href="/users/sign_up">
                        Sign up the email way
                    </a>
                </div>
            </div>

            <iframe src="http://www.facebook.com/plugins/facepile.php?app_id=223055781146202" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:60px; width:450px;" allowTransparency="true"></iframe>

            <div class="learn-more-wrapper">
                <a href="#" class="btn new-btn learn-more-btn">Learn More</a>
            </div>
        </div>
        <div class="more-info">
            <img width=819 src='{{imageUrl "branding/landing2.jpg"}}'>
        </div>

        {{#if onFrontPage}}
            <h2 style='text-align:center;font-family:RobotoLight;color:#999;margin-top:15px;'>↓ See what people are saying about Makr.io ↓</h2>
        {{/if}}
    </div>
</div>
