
<div class="container">
    <div id="landing_banner">
        <div id='landing_header'>
            <a id='sign_up'href="/users/sign_up" class="login btn new-btn huge-btn red">
                Sign up now
            </a>
            <h1>
                Makr.io is a new kind of meme generator.
            </h1>
            <h2>
                 A simple way to create <span id='typist-container'><span id='typist'>memes</span> </span>with friends. <a href='/about'>   Learn More </a>
            </h2>
        </div>
        {{#if onFrontPage}}
            <img width=819 src="/assets/branding/landing.jpg">
        {{/if}}
    </div>
</div>