<header/>

<div id="stream">
    <div class="container">
        <h1 id="page_title">Everything</h1>

        <section id="stream-content" />
        <div id="paginate">
            <div class="loader"/>
        </div>
    </div>
</div>
