<header/>

<div id="stream">
    <img src="{{imageUrl "arrow_@2x.png"}}" id="stream-interactions-divider"/>
    <section id="stream-interactions" />

    <div class="container">
        <h1 id="page_title">Everything</h1>
    </div>

    <section id="stream-content" />
    <div id="paginate">
        <div class="loader"/>
    </div>
</div>
