<div class="span5">
    <h2>
        {{author.name}}'s Remix
    </h2>
    <br/>

    <div class="feedback"/>
    <div class="comments"/>
    <div class="new-comment"/>
    <div class='share-actions'/>
</div>