<div id="header">
    <button href="/framer" id="composer-button" class="btn btn-danger"><i class="icon-plus icon-white"></i> Make</button>
    <img src="{{imageUrl "makr_home_logo@2x.png"}}" class="logo" />
</div>


<div id="stream">
    <section id="stream-content" />
    <div id="paginate">
        <div class="loader"/>
    </div>
</div>