<div id="stream-header"/>
<div id="stream">
    <img src="{{imageUrl "arrow@2x.png"}}" id="stream-interactions-divider"/>
    <section id="stream-interactions" />

    <section id="stream-content" />
    <div id="paginate">
        <div class="loader"/>
    </div>
</div>
