<div class="span5">
   <div class='media interaction-title'> 

    <div class='img'> 
      {{{personImage author "small"}}}
    </div>
    <div class='bd'>
      <h2>{{author.name}}'s Remix <a href="/p/{{id}}" class="permalink" title="Permalink"><i class="icon-chevron-right icon-grey"></i></a></h2>
    </div>
  </div>

  <br/>

  <div class="feedback"/>
  <div class="comments"/>
  <div class="new-comment"/>
    <br/>
  <div id='share-actions'/>
</div>