<div class='container'>
  <div id="stream">
      <div id='new_posts_zone'/>

      <div class='span8 offset2'>
        <section id="stream-content" style='margin-left:-100px'/>
        <div id="paginate">
            <div class="loader"/>
        </div>
    </div>
  </div>
</div>
