<div id="stream">
    <img src="{{imageUrl "arrow_@2x.png"}}" id="stream-interactions-divider"/>
    <section id="stream-interactions" />
    
    <div id='new_posts_zone'/>

    <section id="stream-content" />
    <div id="paginate">
        <div class="loader"/>
    </div>
</div>
