<div class='container'>

  <div class='span8'>
    <div id="stream">
        <div id='new_posts_zone'/>

          <section id="stream-content" style='margin-left:-10px' />
          <div id="paginate">
              <div class="loader"/>
          </div>
      </div>
  </div>
  <div class='span3'>
    <div id='sidenav'/>
  </div>
</div>
