<div class='container' style='width:100%'>
  <div class='with-sidebar'>
    <div id="stream">
        <div id='new_posts_zone'/>

          <section id="stream-content" />
          <div id="paginate">
              <div class="loader"/>
          </div>
      </div>
  </div>
  <div class='sidenav-wrapper'>
    <div id='sidenav'/>
  </div>
</div>
