<style type="text/css">
@font-face {
  font-family: 'Fanwood Text';
  font-style: normal;
  font-weight: 400;
  src:  url(https://themes.googleusercontent.com/static/fonts/fanwoodtext/v3/hDNDHUlsSb8bgnEmDp4T_qRDOzjiPcYnFooOUGCOsRk.woff) !important;
}

@font-face {
  font-family: 'Shadows Into Light';
  font-style: normal;
  font-weight: 400;
  src: url(https://themes.googleusercontent.com/static/fonts/shadowsintolight/v3/clhLqOv7MXn459PTh0gXYMdQSYiIg2Yb25Hg13-ek1M.woff) !important;
}
/* Roboto */
@font-face {
  font-family : Roboto;
  src : url('https://makrio.herokuapp.com/fonts/Roboto-Regular.svg') format('svg') !important;
  weight : normal;
}

@font-face {
  font-family : Roboto-Bold;
  src :  url('https://makrio.herokuapp.com/fonts/Roboto-Bold.svg') format('svg')  !important;
  weight : normal;
}

@font-face {
  font-family : Roboto-Light;
  src : url('https://makrio.herokuapp.com/fonts/Roboto-Light.svg') format('svg')  !important;
  weight : normal;
}

body, p, h1, h2, h3, h4, h5, h6, textarea, input, * {
  font-family : Roboto, Helvetica, sans-serif;
  font-weight : normal;
}

a {
  font-family : inherit;
}

</style>

<div id='canvas'>
  canvas-frame %55 of 500px, one column width in grid
  <div id='canvas-frame'/>

  x2 canvas-frame, 112% of 500px, two column of grid
  <div id ='big-canvas-frame'/>
  <div class='clearfix'/>
</div>

<div class='clearfix' />

<br/>

<div class='container'>
  <div id='stream'>
    <div id="stream-content">
      500px, 100% of base, used in stream
      <div id='stream-frame'/>
    </div>
  </div>      
</div>
<br/>
<div class='clearfix' />

500px, 100% of base, used in stream
<div id='big-framer' />
<div id='small-composer' />

<div class='clearfix' />

raw x2, without container, used to screenshot
<div id ='big-frame' />
<div class='clearfix' />
<br/>
<br/>

raw x1, without container (not used, but maybe the smaller size for screenshot?)
<div id='small-frame' />
<div class='clearfix' />

<br/>
