<div id='sign_up_strip'/>

<div class='container'>
    <div id='tag-info' />
</div>

<div class="container"> 
  <div id='new_posts_notifier'/>

  <div id='new_post_notifier'/>
  <section id="canvas"/>
   <div id="paginate"><span class="loader hidden"/></div> 
</div> 
