<div class="container"> 
   <div id='sign_up_strip'/>
 
    <div id='time-controls'>
        <h6>View past Makr history, and find cool stuff to remix</h6>
        <div id='links'>
            <a href='/timewarp/1'>1 day ago</a> | 
            <a href='/timewarp/7'>1 week ago</a> | 
            <a href='/timewarp/30'>1 month ago</a>
        </div>
        <form name="timewarp" class='form-inline' action='/timewarp' >
            <input type="text" class='input-small' name="days_ago" placeholder='...days ago' />
            <input type="submit" id='timewarp-btn' value="Go" class='btn new-btn' />
        </form> 
    </div>

    <h1 id="page_title">Time Warp <small>{{#if daysAgo}}Currently {{daysAgo}} days back in time</small>{{/if}}</h1>
    <div class='clearfix'/>
    <section id="canvas"/>
    <div id="paginate"><span class="loader hidden"/></div> 
</div> 
