<div class='container'>
    <div class="row">
        <div class="span12">
            <h1 id="page_title">
                Popular
            </h1>
        </div>
    </div>
    <div class="row topics">
        {{#each tags}}
            <div class="span4">
                <div class="topic">
                    <a href="/topics/{{name}}">
                        <div class="media">
                            <div class="img">
                                <div class="topic-image" style="background-image:url('{{latest_post_screenshot}}')"></div>
                            </div>
                            <div class="bd">
                                <h2>{{display_name}}</h2>
                                <p style="color:#999;">
                                    {{description}}
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        {{/each}}
    </div>
</div>