<div id='sign_up_strip'/>
<div class='container'>
    <div class="row">
        <div class="span8">
            <h1 id="page_title">
                Popular Topics
            </h1>
        </div>
        <div class="span4">
            <form class="form-search find-topic">
                <input type="search" placeholder="Find a topic" />
                <button type="submit" class="btn new-btn"><i class="icon-search icon-grey"/></button>
            </form>
        </div>
    </div>
    <div class="row topics">
        {{#each tags}}
            <div class="span4">
                <div class="topic">
                    <a href="/topics/{{name}}">
                        <div class="media">
                            <div class="img">
                                <div class="topic-image" style="background-image:url('{{latest_post_screenshot}}')"></div>
                            </div>
                            <div class="bd">
                                <h2>{{display_name}}</h2>
                                <p style="color:#999;">
                                    {{description}}
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        {{/each}}
    </div>
</div>