<li {{#if onExplore}}class="active"{{/if}}>
    <a href="/front_page">
        Explore
        {{#unless loggedIn}} 
            Makr.io
        {{/unless}}
    </a>
</li>

{{#if loggedIn}}
    <li {{#if onYou}}class="active"{{/if}}>
        <a href="/feed">
            You
        </a>
    </li>
{{/if}}
