{{#if onExplore}}
    <div class="sub">
        <ul class="nav-center">
            <ul class="sub-nav">
                <li {{#if onFrontPage}}class="active"{{/if}}>
                    <a href="/front_page">
                        Popular
                    </a>
                </li>

                <li {{#if onLatest}}class="active"{{/if}}>
                    <a href="/latest">
                        Latest
                    </a>
                </li>

                <li {{#if onTopics}}class="active"{{/if}}>
                    <a href="/topics">
                        Topics
                    </a>
                </li>

                <li {{#if onTimeWarp}}class="active"{{/if}}>
                    <a href="/timewarp">
                        Time Warp
                    </a>
                </li>
            </ul>
        </ul>
    </div>
{{/if}}
